@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    #sidebar-nav {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    #sidebar-nav.nav-open {
        transform: translateX(0);
    }
    main {
        margin-left: 0;
    }
}