{% extends 'base.html.twig' %}

{% block title %}{{'controlepanel' | trans}}{% endblock %}

{% block body %}

    <div class="example-wrapper w-full h-full">
        <!-- Content wrapper -->
        <div class="flex flex-row bg-amber-50 w-full h-full">
            <h1 class="text-2xl"> <span>{{ 'nav.controlpanel'|trans }}</span></h1>
        </div>
    </div>
{% endblock %}
