{% extends 'base.html.twig' %}

{% block title %}Panneau de contrôle{% endblock %}

{% block body %}

    <div class="example-wrapper w-full h-full">
        <!-- Content wrapper -->
        <div class="flex flex-row bg-amber-50 w-full h-full">
            <h1 class="text-2xl"> Panneau de contrôle </h1>
        </div>
    </div>
{% endblock %}
